/data/
/checkpoints/
*/__pycache__/*
/runs/
/old_runs/
*.pyc
/evaluations/
/example_shoemarks/
/flooring/
/*.lprof
/Examples/
*.png
*.jpg
/.agent-shell/
/checkpoints
campaign_gan_*.toml
style_analysis/
style_analysis_old_final_ckpt/
